<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://trello.com/power-ups/power-up.css" />
    </head>
    <body>
        <form>
            <fieldset>
                <legend>Reset</legend>
                <label for="selectInitialList">Initiale Liste</label>
                <select id="selectInitialList"></select>
                <label for="excludedListsContainer">Vom reset ausgeschlossene Listen</label>
                <div id="excludedListsContainer"></div>
                <label for="listsToDeleteContainer" style="margin-top: 20px">Listen, deren Karten gelöscht werden sollen</label>
                <div id="listsToDeleteContainer"></div>
            </fieldset>
            <fieldset>
                <legend>Abstimmung</legend>
                <label for="textNumberOfPossibleVotes">Anzahl Stimmen</label>
                <input type="text" id="textNumberOfPossibleVotes" />
                <label for="checkboxVotingActive">Abstimmung aktiv?</label>
                <input type="checkbox" value="true" id="checkboxVotingActive" />
            </fieldset>
            <button id="save" class="mod-primary">Speichern</button>
        </form>

        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../node_modules/lodash/lodash.min.js"></script>
        <script src="https://api.trello.com/1/client.js?key=9cf88c998d7755a9cd1ca6259cf21e2d"></script>
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <script src="../js/settings.js"></script>
    </body>
</html>